.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  padding-left: 10px;
  padding-right: 10px;

  div.menuItemsWrapper {
    padding-top: 30%;

    mat-card {
      width: 25vw;

      &.userList {
        padding-top: 200px;

        mat-radio-button {
          display: block;
        };
      }

      &.twConnectButton, &.getTimelineButton {
        background-color: #3f51b5;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.mainContentCard {
  width: 40vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  overflow-x: hidden;
  overflow-y: scroll;

  div.twitterFeedPlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }

  div.feed {
    div.tweet {
      display:-ms-grid; //IE Fallback
      display: grid;

      -ms-grid-columns: 40px auto; //IE fallback
      grid-template-columns: 40px auto;
      -ms-grid-rows: 20px 20px auto 30px; //IE fallback
      grid-template-rows: 20px 20px auto 30px;


      border: 1px solid #fafafa;

    }
  }
}
