.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  padding-left: 10px;
  padding-right: 10px;

  div.menuItemsWrapper {
    padding-top: 30%;

    mat-card {
      width: 15vw;

      &.userList {
        padding-top: 200px;

        mat-radio-button {
          display: block;
        };
      }

      &.twConnectButton, &.getTimelineButton {
        background-color: #3f51b5;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.mainContentCard {
  width: 40vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  overflow-x: hidden;
  overflow-y: scroll;

  div.twitterFeedPlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }

  div.feed {
    div.tweet {
      display: grid;
      padding: 10px;
      grid-template-columns: 48px auto;
      grid-template-rows: 24px auto 48px;
      grid-gap: 8px;
      border: 1px solid #fafafa;

      img.profileImage {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: span 1;
        border-radius: 100%;
      }

      div.profileDetails {
        grid-row-start: 1;
        grid-row-end: span 1;
        grid-column-start: 2;
        grid-column-end: span 1;

        span.profileName {
          color: #3f51b5;
          font-weight: 500;
          margin-right: 8px;
          font-size: 15px;
        }

        span.profileHandle {
          color: rgba(108, 122, 137, 1);
        }
      }

      div.content {
        img {
          height: 240px;
          border-radius: 5px;
        }
      }

      div.actions {
        grid-row-start: 3;
        grid-row-end: span 1;
        grid-column-start: 1;
        grid-column-end: span 2;

        button.action {
          margin-right: 16px;
        }
      }
    }
  }
}
