<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened">
    <div class="menuItemsWrapper">
      <mat-card *ngIf="getAllTwitterUsers().length < 1" class="noTwitterUserConnected">
        <mat-card-title>No twitter accounts connected</mat-card-title>
        <mat-card-content>You haven't linked a twitter account yet so you can't see any feeds.</mat-card-content>
      </mat-card>
      <mat-card class="twConnectButton" (click)="connectTwitter()">
        <mat-card-title>Connect a twitter account</mat-card-title>
        <mat-card-content>If you're not logged in, this will redirect you to Twitter's login page.</mat-card-content>
      </mat-card>
      <mat-card *ngIf="getAllTwitterUsers().length > 0" class="userList">
        <mat-card-title>Select one of these twitter accounts to act on behalf of</mat-card-title>
          <mat-radio-button *ngFor="let user of getAllTwitterUsers()" [checked]="user.selected" (click)="selectTwitterUser(user)">{{user.screen_name}}</mat-radio-button>
      </mat-card>

      <mat-card class="getTimelineButton" (click)="getTweets()">
        <mat-card-title>Get Timeline</mat-card-title>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-progress-bar mode="determinate" [value]="percentToRefresh"></mat-progress-bar>
    <mat-card class="mainContentCard">
      <div class="twitterFeedPlaceholder" *ngIf="tweets.length < 1">
        <img src="assets/twGlasses.svg"/>
        <button mat-raised-button color="primary" (click)="toggleSideNav()">
          <mat-icon>leak_add</mat-icon> Connect your twitter account to view feeds
        </button>
      </div>
      <div class="feed" *ngIf="tweets.length > 0">
        <div class="tweet" *ngFor="let tweet of tweets">
          <img class="profileImage" src="{{tweet.user.profile_image_url_https}}">
          <div class="text">
            {{tweet.text}}
          </div>
        </div>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
