
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened">
    <div class="menuItemsWrapper">
      <mat-card *ngIf="!showPinPrompt" class="noTwitterUserConnected">
        <mat-card-title>No twitter account connected</mat-card-title>
        <mat-card-content>You haven't linked your twitter account yet so you can't see any feeds.</mat-card-content>
      </mat-card>
      <mat-card *ngIf="showPinPrompt" class="pinPrompt">
        <mat-card-title>Please input the PIN given by Twitter</mat-card-title>
          <mat-card-content>
            <form (submit)="confirmPin()">
              <input  [(ngModel)]="twitterPin" name="pin" type="number" placeholder="1234567" maxlength="7"/>
              <button mat-raised-button color="primary" type="submit">Connect</button>
            </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="twConnectButton" (click)="connectTwitter()">
        <mat-card-title>Connect your twitter account</mat-card-title>
        <mat-card-content>If you're not logged in, this will redirect you to Twitter's login page.</mat-card-content>
      </mat-card>
      <mat-card class="twConnectButton" (click)="getTweets()">
        <mat-card-title>get tweets</mat-card-title>
      </mat-card>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="mainContentCard">
      <div class="twitterFeedPlaceholder">
        <img src="assets/twGlasses.svg"/>
        <button mat-raised-button color="primary" (click)="toggleSideNav()">
          <mat-icon>leak_add</mat-icon> Connect your twitter account to view feeds
        </button>
      </div>

    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
